@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

$font-family: 'Montserrat', sans-serif;

$colors: (
  grey: #767676,
  grey_light: #C3C3C3,
  white: #FFFFFF,
  black: #202124,
);

@function color($color-item) {
  @return map-get($colors, $color-item)
};

@mixin size($w, $h:$w) {
  width: $w;
  height: $h;
};

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fixed {
  position: fixed;
  left: 0;
  top: 0;
}

@mixin backgroundImage($url) {
  background-image: url($url);
  @include bgi;
}

@mixin bgi {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin border($color, $size: .1rem) {
  border: $size solid color($color);
}
